<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.digitalzombielab.udemyandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.digitalzombielab.udemyandroid.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.digitalzombielab.udemyandroid.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName="pl.digitalzombielab.udemyandroid.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name="pl.digitalzombielab.udemyandroid.DrawActivity" />
        <activity android:name="pl.digitalzombielab.udemyandroid.ApiActivity" />
        <activity android:name="pl.digitalzombielab.udemyandroid.ViewActivity"/>
    </application>

</manifest>